* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
}

#search-box {
  border: 1px rgba(0, 0, 0, 0.75) solid;
  padding: 0.25em;
}

#search-button {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  border: 1px rgba(0, 0, 0, 0.75) solid;
  padding: 0.25em;
}

#search-random {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  border: 1px rgba(0, 0, 0, 0.75) solid;
  padding: 0.25em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-areas:
              "header header header"
              ". search ."
              ". main-articles ."
              "footer footer footer"
}

.header {
  grid-area: header;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.header .title {
  font-family: 'Bitter', serif;
}

.search {
  grid-area: search;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.container-main-articles {
  grid-area: main-articles;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-row-gap: 1em;
}

.article-title {
  font-family: 'Bitter', serif;
}

.article-entry {
  justify-self: center;

}

.article-title a {
  color: rgba(0, 0, 0, 1);
}

.article-title a:active {
  color: rgba(0, 0, 0, 0.5);
}

.article-title a:visited {
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  grid-area: footer;
  justify-self: center;
}
