* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgba(188, 227, 206, 1);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-areas:
              "header header header"
              ". search ."
              ". main-articles ."
              "footer footer footer"
}

.header {
  grid-area: header;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.search {
  grid-area: search;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.main-articles {
  grid-area: main-articles;
}

.container-main-articles {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-row-gap: 1em;
}

.article-entry {
  justify-self: center;  
}

.footer {
  grid-area: footer;
}
